<div class="boxy">
  <h3 style="font-size: 1.2em;">Popular Posts</h3>
  <div>
    <ul>
      <li><a href="{{ site.url }}/blog/spring-boot-wonders/">Spring Boot Wonders</a></li>
      <li><a href="{{ site.url }}/blog/java-executor-internals/">Java ThreadPool Internals</a></li>
      <li><a href="{{ site.url }}/blog/java-hashmap-internals/">Java HashMap Internals</a></li>
      <li><a href="{{ site.url }}/blog/udacity-android-nanodegree-experience/">Udacity Android Nanodegree</a></li>
      <li><a href="{{ site.url }}/blog/microservices-and-buzz-words/">Microservices and buzz words</a></li>
    </ul>
  </div>
</div>

<div class="boxy">
  <h3 style="font-size: 1.2em;">Popular Poems</h3>
  <div>
    <ul>
      <li><a href="{{ site.url }}/poem/conviction-of-path-chosen/">Conviction Of Path Chosen</a></li>
      <li><a href="{{ site.url }}/poem/strands-of-silk/">Strands Of Silk</a></li>
      <li><a href="{{ site.url }}/poem/resolve">Resolve</a></li>
      <li><a href="{{ site.url }}/poem/o-divine-mother/">O Divine Mother</a></li>
      <li><a href="{{ site.url }}/poem/fear">Fear</a></li>
    </ul>
  </div>
</div>