.highlight {
	background-color: #2D2D2D;
	font-family: $code-font;
	@include font(14);
	color: #E4E4E4;
	margin-bottom: 1.5em;
	margin-top: -1.5em;
	@include rounded(4px);
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}
	
	.hll { background-color: #ffffcc }
	.c { color: #f48c5f} /* Comment */
	.err { color: #E4E4E4} /* Error */
	.g { color: #E4E4E4} /* Generic */
	.k { color: #b294bb} /* Keyword */
	.l { color: #E4E4E4} /* Literal */
	.n { color: #E4E4E4} /* Name */
	.o { color: #6cc0b7} /* Operator */
	.x { color: #E4E4E4} /* Other */
	.p { color: #E4E4E4} /* Punctuation */
	.cm { color: #f48c5f} /* Comment.Multiline */
	.cp { color: #fcaf3e} /* Comment.Preproc */
	.c1 { color: #f48c5f} /* Comment.Single */
	.cs { color: #f48c5f} /* Comment.Special */
	.gd { color: #2e3436; background-color: #0e1416 } /* Generic.Deleted */
	.ge { color: #E4E4E4} /* Generic.Emph */
	.gr { color: #eeeeec; background-color: #cc0000 } /* Generic.Error */
	.gh { color: #fcaf3e} /* Generic.Heading */
	.gi { color: #E4E4E4; background-color: #1f2b2d } /* Generic.Inserted */
	.go { background-color: #2c3032 } /* Generic.Output */
	.gp { color: #E4E4E4} /* Generic.Prompt */
	.gs { color: #E4E4E4} /* Generic.Strong */
	.gu { color: #fcaf3e} /* Generic.Subheading */
	.gt { color: #E4E4E4} /* Generic.Traceback */
	.kc { color: #b294bb} /* Keyword.Constant */
	.kd { color: #b294bb} /* Keyword.Declaration */
	.kn { color: #b294bb} /* Keyword.Namespace */
	.kp { color: #b294bb} /* Keyword.Pseudo */
	.kr { color: #b294bb} /* Keyword.Reserved */
	.kt { color: #e3e7df} /* Keyword.Type */
	.ld { color: #E4E4E4} /* Literal.Date */
	.m { color: #f48c5f} /* Literal.Number */
	.s { color: #e3e7df} /* Literal.String */
	.na { color: #e65b67} /* Name.Attribute */
	.nb { color: #f0c674} /* Name.Builtin */
	.nc { color: #E4E4E4} /* Name.Class */
	.no { color: #f48c5f} /* Name.Constant */
	.nd { color: #E4E4E4} /* Name.Decorator */
	.ni { color: #888a85} /* Name.Entity */
	.ne { color: #E4E4E4} /* Name.Exception */
	.nf { color: #fcaf3e} /* Name.Function */
	.nl { color: #E4E4E4} /* Name.Label */
	.nn { color: #E4E4E4} /* Name.Namespace */
	.nx { color: #E4E4E4} /* Name.Other */
	.py { color: #E4E4E4} /* Name.Property */
	.nt { color: #e65b67} /* Name.Tag */
	.nv { color: #ffffff} /* Name.Variable */
	.ow { color: #E4E4E4} /* Operator.Word */
	.w { color: #E4E4E4} /* Text.Whitespace */
	.mf { color: #f48c5f} /* Literal.Number.Float */
	.mh { color: #f48c5f} /* Literal.Number.Hex */
	.mi { color: #f48c5f} /* Literal.Number.Integer */
	.mo { color: #f48c5f} /* Literal.Number.Oct */
	.sb { color: #E4E4E4} /* Literal.String.Backtick */
	.sc { color: #E4E4E4} /* Literal.String.Char */
	.sd { color: #E4E4E4} /* Literal.String.Doc */
	.s2 { color: #b2bd67} /* Literal.String.Double */
	.se { color: #E4E4E4} /* Literal.String.Escape */
	.sh { color: #E4E4E4} /* Literal.String.Heredoc */
	.si { color: #E4E4E4} /* Literal.String.Interpol */
	.sx { color: #E4E4E4} /* Literal.String.Other */
	.sr { color: #E4E4E4} /* Literal.String.Regex */
	.s1 { color: #b2bd67} /* Literal.String.Single */
	.ss { color: #E4E4E4} /* Literal.String.Symbol */
	.bp { color: #E4E4E4} /* Name.Builtin.Pseudo */
	.vc { color: #ffffff} /* Name.Variable.Class */
	.vg { color: #ffffff} /* Name.Variable.Global */
	.vi { color: #ffffff} /* Name.Variable.Instance */
	.il { color: #f48c5f} /* Literal.Number.Integer.Long */
}